.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    width: auto;
    /* height: 100dvh; */

    img {
        max-width: 250px;
        align-self: center;
        /* background-color: var(--project-card-bg); */
        border-radius: 30px;
    }

    h3 {
        font-size: clamp(1.1rem, 2vw, 1.6rem);
        margin: 8px;
    }

    p {
        font-size: clamp(0.9rem, 1.2vw, 1.1rem);
        line-height: 1.6;
        margin-bottom: 10px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }

    .projectsContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 1rem;

        .projectContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5rem;

            &.reverse {
                flex-direction: row-reverse;
            }

            .projText {
                display: flex;
                flex: 1;
                text-align: start;
            }
        }
    }

    .projectImgContainer {
        display: flex;
        flex-direction: row;
    }

}

.sectionTitle {
    font-size: clamp(1.8rem, 4vw, 3rem);
}

@media (width >=800px) {
    .container {
        .projectsContainer {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 30px;
        }
    }
}

@media (width <=500px) {
    .container {
        .projectsContainer {
            .projectContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;

                .projText {
                    display: flex;
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }
}