.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: 100dvh; */

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 20px;
        /* margin-bottom: 20px; */
    }
}

.skillList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 20px;
    max-width: 26ch;
}

h3 {
    margin: auto 0px 30px;
}

p {
    font-weight: 400;
    /* margin-bottom: 30px; */
}

hr {
    background-color: var(--hr-color);
    box-shadow: var(--box-shadow);
    height: 2px;
    border: none;
    width: 350px;
    margin: 30px auto 30px;
}

@media (width >= 800px) {
    .skillList {
        max-width: fit-content;
        gap: 40px;

        P {
            font-size: 20px;
        }
    }

    hr {
        width: 500px;
    }

}